<div class="box">
<button class = "btn btn-primary button1" (click)="equation('1')">1</button>
<button class = "btn btn-primary button1" (click)="equation('2')">2</button>
<button class = "btn btn-primary button1" (click)="equation('3')">3</button>
<button class = "btn btn-primary button1" (click)="equation(' + ')">+</button>
<button class = "btn btn-primary button1" (click)="equation('4')">4</button>
<button class = "btn btn-primary button1" (click)="equation('5')">5</button>
<button class = "btn btn-primary button1" (click)="equation('6')">6</button>
<button class = "btn btn-primary button1" (click)="equation(' - ')">-</button>
<button class = "btn btn-primary button1" (click)="equation('7')">7</button>
<button class = "btn btn-primary button1" (click)="equation('8')">8</button>
<button class = "btn btn-primary button1" (click)="equation('9')">9</button>
<button class = "btn btn-primary button1" (click)="equation(' * ')">*</button>
<button class = "btn btn-primary button1" (click)="equation('0')">0</button>
<button class = "btn btn-primary button1" (click)="equation('( ')">(</button>
<button class = "btn btn-primary button1" (click)="equation(' )')">)</button>
<button class = "btn btn-primary button1" (click)="equation(' / ')">/</button>
<button class = "btn btn-danger button2" (click)="eliminate()">AC</button>
<button class = "btn btn-success button2" (click)="count()">=</button>
</div>
